h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5f788a;
}

body {
  color: #5f788a;
  background-color: #e9ecef;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
